<a href="https://colab.research.google.com/github/Boyiritushar/tutedude-ass-5/blob/main/Untitled63.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# assignment **5**

task 1 Create a Dictionary of Student Marks

student details not found

In [12]:
student_marks = {'tushar':99 , 'kimaya':84 , 'bhavika':83 , 'vishal':94}
enter_name=input("enter the name of the student : ")
if enter_name in student_marks:
  print(enter_name , "marks are" , student_marks[enter_name])
else:
  print("student details not found")

enter the name of the student : harsha
student details not found

student details found

In [6]:
student_marks = {'tushar':99 , 'kimaya':84 , 'bhavika':83 , 'vishal':94}
enter_name=input("enter the name of the student : ")
if enter_name in student_marks:
  print(enter_name , "marks are" , student_marks[enter_name])
else:
  print("student details not found")

enter the name of the student : tushar
tushar marks are 99

##  list slicing task **2**

In [11]:
numbers=[1,2,3,4,5,6,7,8,9,10]
print("original list :",numbers)
ex=(numbers[:5])
print("extracted first five elements :",ex)
reverse=(numbers[::-1])
print("reversed list :",reverse)

original list : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
extracted first five elements : [1, 2, 3, 4, 5]
reversed list : [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]